<div class="container">
  <h3>Add a movie to the list</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: @movies, include_blank: false %>
    <%= f.input :comment %>
    <%= f.submit "Add movie" %>
  <% end %>
</div>
<%# <form action="get" data-controller="movies" data-action="submit->movies#search">
  <input type="text" data-movies-target="title">
  <input type="submit">
</form> %>

 <%= form_with url: bookmarks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
